.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @media screen and (max-width: $bp-desktop) {
    gap: 16px;
  }

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);

    @media screen and (max-width: $bp-desktop) {
      box-shadow: -8px 8px 0 0 var(--color-primary-light),
        -8px 8px 0 2px var(--color-secondary-dark);
      width: 140px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 8px;
      font-size: 24px;
    }
  }

  &__text {
    max-width: 320px;

    @media screen and (max-width: $bp-desktop) {
      font-size: 14px;
    }
  }

  &__paragraph {
    margin-bottom: 24px;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
