.advanteges-section {
  padding: 16px 0;
  background-color: var(--color-brend-normal);
  @media screen and (max-width: $bp-tablet) {
    background-color: transparent;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      gap: 16px;
      padding: 24px 40px;
      background-color: var(--color-brend-light);
      border-radius: 24px;
    }
  }

  &__item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
    @media screen and (max-width: $bp-tablet) {
      color: var(--color-primary-dark);
      font-size: 14px;
    }
  }
}
