.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  @media screen and (max-width: $bp-tablet) {
    padding-top: 16px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__button {
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      width: 24px;
      height: 24px;
      padding: 0;
      background-color: transparent;
      border: none;
      fill: var(--color-primary-light);
    }
  }

  &__icon {
    width: 20px;
    height: 14px;
  }
}
